<div class="footer">
  <div class="center-this">
      <span>Copyright </span>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/script/login.js"></script>