<div class="header header-background">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="col-3 header-logo logo-background">
      <img src="/image/image.png" alt="Deakin Market Place" width="200px" height="200px" />
    </div>
    <div class="col-6 header-nav">
      <form class="d-flex" role="search">
        <div class="p-1 search-bg rounded mr-4">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="name"/>
        </div>
        <div class="search-bg rounded">
          <button class="btn" type="submit">
            <img src="/image/icon _Search.svg" alt="Search icon" width="30px" height="30px" />
          </button>
        </div>
      </form>
    </div>
    <!-- Cart and Account -->
    <div class="col-3">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid d-flex align-items-center justify-content-end">
          <!-- Cart  -->
          <div class="nav-link dropdown icon_navbar">
            <!-- If currentUser._id is null the link is login -->
            <% if(!currentUser) { %>
              <a href="/login">
                <img src="/image/icon _Cart.svg" alt="Cart" width="30px" height="30px"
                  class="icon_navbar" /></a>
              <% } else if(currentUser.username !== process.env.ADMIN_USERNAME){ %>
                <a href="/user/<%= currentUser._id%>/cart">
                  <img src="/image/icon _Cart.svg" alt="Cart" width="30px" height="30px" class="icon_navbar" />
                </a>
                <% } else {%>
                  <a href="/ordersadmin">
                    <img src="/image/icon _Cart.svg" alt="Cart" width="30px" height="30px" class="icon_navbar" />
                  </a>
                <% } %>
                
 
          </div>
          <!-- Account -->
          <div class="nav-link dropdown">
            <a class="nav-link active dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false"
              data-bs-boundary="viewport" style="background-color: #60e4dd"><img src="/image/icon _Person.svg"
                alt="User" width="30px" height="30px" class="icon_navbar" /></a>
                <ul class="dropdown-menu">
                  
                    <!-- If currentuser is not defined show login else show my account -->
                    <% if(!currentUser) { %> 
                      <li>
                        <a class="dropdown-item" href="/login">Login</a>
                      </li>
                      <% } else { %>
                        <li>
                          <a class="dropdown-item" href="/user/<%= currentUser._id %>">My Account</a>
    
                        </li>
                        <li>
                          <a class="dropdown-item" href="/logout">Log out</a>
                        </li>
                        <% } %>
                  </li>
                  
                </ul>
          </div>
          <!-- Notifcation -->
          <% if(currentUser){ %>
            <input type="text" value="<%= currentUser._id %>" hidden id="userId">
            <div class="nav-link dropdown">
              <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                data-bs-boundary="viewport" style="background-color: #60e4dd; color: white !important"><img src="/image/icon_noti.svg"
                  alt="Notifcation" width="30px" height="30px" class="icon_navbar" />
              </a>
                  <ul class="dropdown-menu">
                    <li >
                      <a class="dropdown-item" id="noti-child">Notifcation 1 here</a>
                    </li>
                  </ul>
            </div>
          <% }%>
          <!-- End Notfi -->
        </div>
      </nav>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js" crossorigin="anonymous"></script>
<script>
const socket = io('http://localhost:3001');
const userIdElement = document.getElementById('userId');
if (userIdElement) {
    var userId = userIdElement.value;
    socket.emit('userId', userId);
    socket.on('notification', (message) => {
        showNotification(message);
    });
}
 
function showNotification(message) {
    const notiHtml = document.getElementById('noti-child');
    //replace a with message
    notiHtml.innerHTML = message;
}
</script>