<%- include("./partials/header")%>
<%- include("./partials/navbar-2")%>
<link rel="stylesheet" href="/css/style.css">
<div class="container centered-content">
    <h1>404</h1>
    <h2>Cannot find the page</h2>
    <h3><a href="/">Back to home page</a></h3>
</div>
<%- include("./partials/footer")%>